:root {
    --main-bg-color: #02111B; 
    --second-bg-color: #FCFCFC;
    --grey: #EBF2FA;
    --accent-1: #427AA1;
}

*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background: var(--grey);
}

.bg{
    background-color: var(--main-bg-color);
    background: linear-gradient(to bottom, var(--main-bg-color) 0%, var(--main-bg-color) 85%, var(--grey) 85%,var(--grey) 100%); /* W3C */
    margin:0;
    padding:0;
}

.fill{
    min-height: 80%;
    height: 80%;
    width:80%;
    margin: 0 auto;
    margin-top:5%;
    background-color: var(--second-bg-color);
    border-radius: 15px;

    box-shadow: 1px 1px 5px #888888;
}

img{
    width:100%;
    height:auto;
    border-radius: 15px;
}

.face-cont{
    margin-top:45%;
}

.about-cont{
    margin-top:30%;
}

.space{
    margin-top:50px;
}

.bottom-margin{
    margin-bottom: 0;
}

.accent{
    color:var(--accent-1);
}

.sidebar{
    background: var(--second-bg-color);
    width:50px;
    position:fixed;
    right:0;
    top:25%;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;

    box-shadow: 1px 1px 5px #888888;
}

.sidebar li{
    list-style-type: none;
    margin-bottom:10px;
}

.sidebar a{
    text-decoration:none;
    color: var(--accent-1);
}

.sidebar a:hover{
    color: var(--main-bg-color);
    transition: color 0.5s ease;
}

.sidebar ul{
    padding: 0;
    margin-top: 10px;
    margin-left: 12px;
}

#projLink, .view-project{
    width:20%;
    margin: 0 auto;
    
    font-size:0.8em;
    color: var(--accent-1);
    text-transform: uppercase;
	text-decoration: none;
    border: 2px solid var(--accent-1);
    border-radius:10px;
	text-align: center;
	width:15%;
	margin: 0 auto;
}

#projLink:hover{
    color: var(--main-bg-color);
    border-color: var(--main-bg-color);
    transition: color 0.5s ease;
}

/*projects styles*/

.projects{
    height:100vh;
}

.project{
    width:50%;
    margin: 0 auto;
    margin-top:5%;
    text-align:center;
}

.project a{
    text-decoration: none;
}

.project .row a{
    width:20%;
    margin:0 auto;
    text-align:center;
    font-size:0.8em;
    color: var(--accent-1);
    text-transform: uppercase;
	text-decoration: none;
    border: 2px solid var(--accent-1);
    border-radius:10px;
}

.project .row a:hover, .green .project .row a:hover, .bluegreen .project .row a:hover, .red .project .row a:hover, 
.blue .project .row a:hover, .pink .project .row a:hover{
    color: var(--main-bg-color);
    border-color: var(--main-bg-color);
    transition: color 0.5s ease;
}

.project h2{
    margin-top: 20px;
    margin-bottom:0;
}

.project img{
    width: 100%;
    height: 50%;
}

.serif{
    font-family: 'Playfair Display', serif;
}

.date{
    margin-top:0;
}

footer{
    background-color: var(--main-bg-color);
    color: var(--second-bg-color);
    font-weight: 200;
    font-size: 0.8em;
}

#projects{
    margin-top:5px;
}

.view-button{
    text-align:center;
}

.green{
    background-color:#0f5948;
    color:var(--second-bg-color);
}

.green .project .row a, .red .project .row a, 
.blue .project .row a, .pink .project .row a{
    color: var(--grey);
    border: 2px solid var(--grey);
    border-radius:10px;
}

.bluegreen{
    background-color:#b4ebca;
    color: var(--main-bg-color);
}

.pink{
    background-color:#BB66A8;
}

.red{
    background-color: #69232A;
    color: var(--grey);
}

.blue{
    background-color:#18C6E7;
    color: var(--main-bg-color);
}


@media only screen and (max-width: 1440px) {
    .face-cont{
        margin-top:50%;
    }
    
    .about-cont{
        margin-top:30%;
    }
}


@media only screen and (max-width: 1100px) {
    .face-cont{
        margin-top:90%;
    }
    
    .about-cont{
        margin-top:36%;
    }

    .about-cont h2{
        font-size: 1.5em; 
    }

    .about-cont p{
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 900px) {
    .face-cont{
        margin-top:100%;
    }

    .about-cont{
        margin-top:42%;
    }

    .project p{
        font-size: 0.9em;
    }

    .about-cont h2{
        font-size: 1.1em; 
    }

    .about-cont h2{
        font-size: 1.2em; 
    }

    .about-cont p{
        font-size: 0.8em;
    }

    .project img{
        height: 40%;
    }
}

@media only screen and (max-width: 700px) {
    .face-cont{
        margin-top:135%;
    }

    .project img{
        height: 30%;
    }

    .about-cont h2{
        font-size: 1.0em; 
    }

    #projLink{
        width:30%;
    }

    .sidebar{
        width:20px;
    }

    .fab, .fas{ 
        font-size: 15px;
    }

    .sidebar ul{
        margin-left:3px;
    }

    #projLink, .project .row a{ 
        font-size:0.3em;
    }
}

@media only screen and (max-width: 600px) {
    .face-cont{
        margin-top:137%;
    }

    .project img{
        height: 25%;
    }

    .project h2{
        font-size: 1.3em;
    }

    .project p{
        font-size: 0.8em;
    }

    .about-cont h2{
        font-size: 0.9em; 
    }

    .about-cont p{
        font-size: 0.7em;
    }

    #projLink, .project .row a{ 
        font-size:0.2em;
    }
}