<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Genesis Barrios Portfolio Website">
	<meta name="keywords" content= "software engineer, web development, software development, programming">
	<meta name="author" content="Genesis Barrios">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="scroll.js"></script>
	<title> Genesis Barrios | Software Engineer</title>
</head>
<body>
	
	<script type="module">
		import * as THREE from 'https://threejsfundamentals.org/threejs/resources/threejs/r115/build/three.module.js';
		window.onload = function() {

			// Canvas
			const canvas = document.querySelector('canvas.webgl');

			let scene, camera, renderer, particlesThree, star, stars, particlesCount;
			let particlesMesh;

			scene = new THREE.Scene();
			camera = new THREE.PerspectiveCamera(60, window.innerWidth / window.innerHeight, 1, 1000);
			camera.position.z = 1;
			camera.rotation.x = Math.PI/2;

			renderer = new THREE.WebGLRenderer({  
				canvas: canvas,
				alpha: true 
			});
			renderer.setSize(window.innerWidth, window.innerHeight);
			renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2))
			//canvas.appendChild(renderer.domElement);

			const material = new THREE.MeshBasicMaterial()
			material.color = new THREE.Color(0xffffff)

			const particlesGeo = new THREE.BufferGeometry();
			particlesCount = 10000;
			const posArray = new Float32Array(particlesCount * 3);

			for(let i=0; i < particlesCount * 3; i++){
				posArray[i] = (Math.random() - 0.5) * 5;
			}

			particlesGeo.setAttribute('position', new THREE.BufferAttribute(posArray, 3))

			particlesMesh = new THREE.Points(particlesGeo, material)
			scene.add(particlesMesh);

			document.addEventListener('mouseover', animateParticles);
			let mouseX = 0;
			let mouseY = 0;

			function animateParticles(event){
				console.log('animate particles')
				mouseY = event.clientY;
				mouseX = event.clientX;
			}

			const clock = new THREE.Clock();

			const tick = () => {
				const elapsedTime = clock.getElapsedTime()

				particlesMesh.rotation.y = -.1 * elapsedTime;
				if(mouseX > 0){
					particlesMesh.rotation.y = mouseX * (elapsedTime * 0.0008) 
					particlesMesh.rotation.x = mouseY * (elapsedTime * 0.0008) 
				}

				renderer.render(scene, camera);
				window.requestAnimationFrame(tick);
			}

			tick();

			var i =0;
			var aboutText = "genesisbarrios:~$ cd genesisbarrios/About\r\ngenesisbarrios:~$ cat about.txt \r\n";
			var aboutText2 = "\r\nHello! My name is Genesis Barrios.\r\nI'm a Software Engineer based in Miami, Florida. 🌴 \r\nI got my Bachelor's of Science in Computer Science in Spring of 2020 from Florida International University.\r\nSome of my topics of study include: C Programming, Java Programming, Data Structures, Discrete Structures,\r\nComputer Architecture, Database Management, Net Centric Computing, Software Engineering,\r\nMobile Application Development, and Programming Languages. \r\nI am currently working as an IT Resident at Assurant where I build and support applications in the Azure cloud.\r\nI have experience with various technologies including Javascript, JQuery, Bootstrap, HTML, CSS, Angular, React,\r\n Node.js, MongoDB, SQL, MySQL, MicrosoftSQL, Java, Tomcat, C#, .NET, Azure Cloud,\r\nSwift, Web GL(Babylon.js, Three.js), Web3.js, Solidity, and Python.";
			var speed = 50;

			function typeWriter(){
				document.getElementById("aboutText").setAttribute("style", "white-space: pre;")
				if(i < aboutText.length){
					document.getElementById("aboutText").innerHTML += aboutText.charAt(i);
					i++;
					setTimeout(typeWriter, speed);
				}
				if(i == aboutText.length - 1) {
					document.getElementById("aboutText2").innerHTML += aboutText2;
				}
			}

			typeWriter();
		};
	</script>
	<div class="bg">
		<canvas class="webgl">
		</canvas>
		<div class="about">
			<div class="container-fluid row"style="height:15%;"></div>
			<div class="row" id="about">
				<div class="fill col-10" style="margin-bottom:8%;">
					<div class="row align-items-center" style="margin-bottom:7%;">
						<div class="col-1">
						</div>
						<div class="col-10">
							<div class="about-cont" >
								<p class="bottom-margin" id="aboutText"></p>
								<p class="bottom-margin" id="aboutText2"></p>
							</div>
						</div>
						<div class="col-1">
						</div>
					</div>
				</div>
				<div class="col-xs-1 sidebar">
					<ul>
						<li><a href="#" id="about"><i class="fas fa-2x fa-arrow-up"></i></a></li>
						<li><a href="https://github.com/genesisbarrios" target="_blank"><i class="fab fa-2x fa-github"></i></a></li>
						<li><a href="https://www.linkedin.com/in/genesis-barrios-788a12114" target="_blank"><i class="fab fa-2x fa-linkedin"></i></a></li>
						<li><a href="mailto:genesisbarriosdev@gmail.com"><i class="fas fa-2x fa-envelope"></i></a></li>
					<ul>
				</div>
			</div>
			<div class="container-fluid row" style="height:15%;"></div>
			
		</div>
	</div>
	
	<section class="projects d-flex one">
		<div class="project justify-content-center align-self-center">
			<img src="https://drive.google.com/uc?export=view&id=i1ncdC6AD3K69cJ95UwmEllxkfWqjdbA2r" alt="Enigma Software Consulting"/>
			<h2>Enigma Software Consulting</h2>
			<p class="serif" style="margin-bottom:2px;"> February 2022 </p>
			<p class="serif" style="font-size:0.8em; margin-bottom:2px;"> I launched my software consulting business along with a website built with React and Three.js, and with a blog that is supported by a Firebase database.</p>
			<div class="row" style="margin-bottom:5px;">
				<a href="https://www.enigmasoftwareconsulting.com" target="_blank" class="view-button"> View Website </a>
			</div>
		</div>
	</section>

	<section class="projects d-flex one">
		<div class="project justify-content-center align-self-center">
			<img src="https://drive.google.com/uc?export=view&id=175P-QLU4Y6-HuvpkNI_VdIAKnt45BqdQ" alt="EnigmaLabelDAO - Ethereum Dapp to join a Record Label DAO."/>
			<h2>SPOTx</h2>
			<p class="serif" style="margin-bottom:2px;"> January 2022 </p>
			<p class="serif" style="font-size:0.8em; margin-bottom:2px;"> A Solana(now Polygon) Dapp that allows busineses to create NFT rewards for their loyalty customers. Created as the second use case for <a href="shrimpgame.io">ShrimpGame</a>(NFT AR Game) for MiamiHackWeek2022.</p>
			<div class="row" style="margin-bottom:5px;">
				<a href="https://61ff798d32ca040007e26201--epic-panini-5f7186.netlify.app/" target="_blank" class="view-button"> View Project </a>
			</div>
			<div class="row">
				<a href="https://github.com/genesisbarrios/SPOTx" target="_blank" class="view-button"> View Code </a>
			</div>
		</div>
	</section>

	<section class="projects d-flex two">
		<div class="project justify-content-center align-self-center">
			<img src="https://drive.google.com/uc?export=view&id=1tjnTFJoL70ciFpZogTwcY9Fs9Om9-1oe" alt="EnigmaLabelDAO - Ethereum Dapp to join a Record Label DAO."/>
			<h2>EnigmaLabelDao</h2>
			<p class="serif" style="margin-bottom:2px;"> January 2022 </p>
			<p class="serif" style="font-size:0.8em; margin-bottom:2px;"> An Ethereum(Rinkeby) Dapp to join a Record Label DAO(Decentralized Autonomous Organization). Built with React, and 3rdweb. Based on the Build your own DAO with just Javascript Course by <a href="buildspace.so">Buildspace</a>. Blockchain Components: ERC-1155 NFT, custom ERC-20 token($ENIGMA), Governance Contract.</p>
			<div class="row" style="margin-bottom:5px;">
				<a href="https://RecordLabel-DAO.genesisbarrios1.repl.co" target="_blank" class="view-button"> View Project </a>
			</div>
		</div>
	</section>

	<section class="projects d-flex one">
		<div class="project justify-content-center align-self-center">
			
			<img src="https://drive.google.com/uc?export=view&id=1RjL792msNHOXeXJWl5mbnGj8swOcEzW_" alt="LyricPortal - Ethereum Dapp for sharing lyrics"/>
			<h2>LyricPortal</h2>
			<p class="serif" style="margin-bottom:2px;"> January 2022 </p>
			<p class="serif" style="font-size:0.8em; margin-bottom:2px;"> An Ethereum(Rinkeby) Dapp for sharing lyrics based on the Solidity + Ethereum Smart Contracts Course by <a href="buildspace.so">Buildspace</a>. Built with React.js, Solidity, and Replit for hosting on the Rinkeby testnet. If my testing goes well I will deploy to mainnet for everyone to use and obtain real ETH.</p>
			<div class="row" style="margin-bottom:5px;">
				<a href="https://LyricPortal.genesisbarrios1.repl.co" target="_blank" class="view-button"> View Project </a>
			</div>
		</div>
	</section>

	<section class="projects d-flex two">
		<div class="project justify-content-center align-self-center">
			<img src="https://drive.google.com/uc?id=1OO0ay-fy6IThnEkeMCp7fQ17NniygSlG" alt="MetaShop - 3D VR Web Shop"/>
			<h2>MetaShop</h2>
			<p class="serif" style="margin-bottom:2px;"> December 2021 </p>
			<p class="serif" style="font-size:0.8em; margin-bottom:2px;"> A 3D interactive web store that allows users to interact with items, chat with other users, and request help from the Avaya Webchat agent. This project won 3rd place in the TadHack-Mini Orlando Hackathon at Avaya ENGAGE 2021. Future plans include perfecting the physics and GUI, updating character models in all client views so users can be in the same store together, and either setting it up as an ecommerce platform or setting it up as an NFT store on Etherum.</p>
			<div class="row" style="margin-bottom:5px;">
				<a href="https://github.com/genesisbarrios/metashop" target="_blank" class="view-button"> View Project </a>
			</div>
			<div class="row">
				<a href="https://blog.tadhack.com/2021/12/12/avaya-engage-the-results/" target="_blank" class="view-button"> Read Blog Post </a>
			</div>
		</div>
	</section>

	<section class="projects d-flex one">
		<div class="project justify-content-center align-self-center">
			<img src="https://drive.google.com/uc?id=1ffpL3s2ejJaFSjNRW23g0moWkCbpcWJT" alt="Wavy Pads Web Synth"/>
			<h2>Wavy Pads</h2>
			<p class="serif"> March 2021 </p>
			<p class="serif"> A Web Based Synth with EQ, Gain, Decay, Reverb, Octave, and Key Inputs. Built with Tone.js.</p>
			<div class="row">
				<a href="https://github.com/genesisbarrios/wavypads" target="_blank" class="view-button"> View Project </a>
			</div>
		</div>
	</section>

	<section class="projects d-flex two">
		<div class="project justify-content-center align-self-center">
			<img src="https://drive.google.com/uc?id=1KzxObx4MwrtQ_iXZn2BG1tYrJnFCH2Hm" alt="Group Event Manager Mobile App"/>
			<h2>Group Event Manager</h2>
			<p class="serif"> October, 2020 </p>
			<p class="serif"> A Mobile-App that allows users to create, edit, and rsvp to events. Built with the Ionic Framework.</p>
			<div class="row">
				<a href="https://github.com/genesisbarrios/GroupEventManager" target="_blank" class="view-button"> View Project </a>
			</div>
		</div>
	</section>

	<section class="projects d-flex one">
		<div class="project justify-content-center align-self-center">
			<img src="https://drive.google.com/uc?id=1ps5VAAgkwMktDpkeaaOCKNdbz2BeLQPQ" alt="Jumpy Blocks"/>
			<h2>Jumpy Blocks</h2>
			<p class="serif"> September, 2020 </p>
			<p class="serif"> A Flappy Bird clone built with Javascript and Phaser. </p>
			<div class="row">
				<a href="https://github.com/genesisbarrios/jumpyblocks" target="_blank" class="view-button"> View Project </a>
			</div>
		</div>
	</section>

	<section class="projects d-flex two">
		<div class="project justify-content-center align-self-center">
			<img src="https://drive.google.com/uc?id=1kHyPPxqmGHWePdPgrhfEkBP2hxI0s90b"/>
			<h2>YouTube Multiple Comment App</h2>
			<p class="serif"> January, 2020 </p>
			<p class="serif">I posted a YouTube video of me singing a song I made for a competition, and I received a lot of comments asking if I could put the song on spotify. I wanted to reply to all of those comments at once, so I made an application to do that for me. I built it with the YouTube API, and Javascript.</p>
			<div class="row">
				<a href="https://github.com/genesisbarrios/YouTubeMultipleCommentApp" target="_blank" class="view-button"> View Project</a>
			</div>
		</div>
	</section>

	<section class="projects d-flex one">
		<div class="project justify-content-center align-self-center">
			<img src="https://drive.google.com/uc?id=1AQCVEyUjSCshzLvIyqwEMuYjEUTwa8MF"/>
			<h2>VirtualRollCall</h2>
			<p class="serif"> April, 2020 </p>
			<p class="serif">For my Senior Project my teammate and I recreated the documentation and attendance application for the Pinecrest police department. Built with Angular, and Node.js.</p>
			<div class="row">
				<a href="https://github.com/genesisbarrios/VirtualRollCallSpring2020" target="_blank" class="view-button"> View Project</a>
			</div>
		</div>
	</section>

	<section class="projects d-flex two">
		<div class="project justify-content-center align-self-center">
			<img src="https://drive.google.com/uc?id=1QwBhqXjcjJEMfJhX7J4b_cKfjBgzi_o1"/>
			<h2>Geek Text</h2>
			<p class="serif"> December, 2019 </p>
			<p class="serif">The final project for my Software Engineering class. We created a web application that allows users to create a profile, browse for books and authors and add them to their cart, and leave reviews on books. Built with Javascript, Express.js, Node.js, and MongoDB.</p>
			<div class="row">
				<a href="https://github.com/BarbosaO/CEN4010-Team-Project" target="_blank" class="view-button"> View Project</a>
			</div>
		</div>
	</section>

	<section class="projects d-flex one">
		<div class="project justify-content-center align-self-center">
			<img src="https://drive.google.com/uc?id=1Uirx5_Jkx9MH5sIOVllo7TiwKpuh0AXB"/>
			<h2>Backroom Sessions iOS Application</h2>
			<p class="serif"> December, 2019 </p>
			<p class="serif">As the final project for my Mobile Application Development class, we created an iOS application for a local business. Built with Swift in XCode.</p>
			<div class="row">
				<a href="https://github.com/Isumy/BackroomSessions_Team_B" target="_blank" class="view-button"> View Project</a>
			</div>
		</div>
	</section>

	<section class="projects d-flex two">
		<div class="project justify-content-center align-self-center">
			<img src="https://drive.google.com/uc?id=1aIJAwt07xGLfUYaEVEatpuLGzzSkge-9" alt="Weather App"/>
			<h2>Weather App</h2>
			<p class="serif"> June, 2018 </p>
			<p class="serif">I built a weather app with Node.js and the Open Weather Map API.</p>
			<div class="row">
				<a href="https://github.com/genesisbarrios/weatherApp" target="_blank" class="view-button"> View Project</a>
			</div>
		</div>
	</section>

	<section class="projects d-flex one">
		<div class="project justify-content-center align-self-center">
			<img src="https://drive.google.com/uc?id=1zGuAKQCd1hMInSFJlgaPIqz_PqfUs41K" alt="Patatap Clone"/>
			<h2>Shapes and Sounds - a Patatap clone</h2>
			<p class="serif"> May, 2018 </p>
			<p class="serif">I built a patatap.com clone using paper.js, howler.js, and sounds from a new song I've been working on.</p>
			<div class="row">
				<a href="https://github.com/genesisbarrios/shapesnsounds" target="_blank" class="view-button"> View Project</a>
			</div>
		</div>
	</section>

	<section class="projects d-flex two">
		<div class="project justify-content-center align-self-center">
			<img src="https://drive.google.com/uc?id=1FMw6bO6LfzOKDr4sn9nRnJM42RGPkMCQ" alt="Bulk Texting Application"/>
			<h2>Automated Bulk Texting</h2>
			<p class="serif"> February, 2018 </p>
			<p class="serif"> As our MangoHacks submission my team and I created an application in Python that takes data from an excel spreadsheet and sends custom scheduled text messages to one or many clients at a time. I mostly worked on the front end of the application. </p>
			<div class="row">
				<a href="mailto:genesisbarriosdev@gmail.com" class="view-button"> Request Code</a>
			</div>
		</div>
	</section>

	<footer class="page-footer font-small">
		<div class="footer-copyright text-center py-3">© Copyright 2022. Designed and Developed by Genesis Barrios</div>
	</footer>
</body>
</html>