<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Genesis Barrios Portfolio Website">
	<meta name="keywords" content= "software engineer, web development, software development, programming">
	<meta name="author" content="Genesis Barrios">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="scroll.js"></script>
	<title> Genesis Barrios | Software Engineer</title>
</head>
<body>
	
	<script type="module">
		import * as one from 'https://onejsfundamentals.org/onejs/resources/onejs/r115/build/one.module.js';
		
		

		window.onload = function() {
			var one = new one({
				fullscreen: true,
				autostart: false
			  })
			  
			// Canvas
			const canvas = document.querySelector('canvas.webgl');

			let scene, camera, renderer, particlesone, star, stars, particlesCount;
			let particlesMesh;

			scene = new one.scene();
			camera = new one.PerspectiveCamera(60, window.innerWidth / window.innerHeight, 1, 1000);
			camera.position.z = 1;
			camera.rotation.x = Math.PI/2;

			renderer = new one.WebGLRenderer({  
				canvas: canvas,
				alpha: true 
			});
			renderer.setSize(window.innerWidth, window.innerHeight);
			renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2))
			//canvas.appendChild(renderer.domElement);

			const material = new one.MeshBasicMaterial()
			material.color = new one.Color(0xffffff)

			const particlesGeo = new one.BufferGeometry();
			particlesCount = 10000;
			const posArray = new Float32Array(particlesCount * 3);

			for(let i=0; i < particlesCount * 3; i++){
				posArray[i] = (Math.random() - 0.5) * 5;
			}

			particlesGeo.setAttribute('position', new one.BufferAttribute(posArray, 3))

			particlesMesh = new one.Points(particlesGeo, material)
			scene.add(particlesMesh);

			document.addEventListener('mouseover', animateParticles);
			let mouseX = 0;
			let mouseY = 0;

			function animateParticles(event){
				console.log('animate particles')
				mouseY = event.clientY;
				mouseX = event.clientX;
			}

			const clock = new one.Clock();

			const tick = () => {
				const elapsedTime = clock.getElapsedTime()

				particlesMesh.rotation.y = -.1 * elapsedTime;
				if(mouseX > 0){
					particlesMesh.rotation.y = mouseX * (elapsedTime * 0.0005) 
					particlesMesh.rotation.x = mouseY * (elapsedTime * 0.0005) 
				}

				renderer.render(scene, camera);
				window.requestAnimationFrame(tick);
			}

			tick();

			var i =0;
			var aboutText = " cd genesisbarrios/About\r\ngenesisbarrios:~$ cat about.txt \r\n";
			var aboutText2 = "\r\nHello! My name is Genesis Barrios.\r\nI'm a Software Engineer based in Miami, Florida. 🌴 \r\nI got my Bachelor's of Science in Computer Science in Spring of 2020 from Florida International University.\r\nI am currently working as an Associate Software Engineer where I build and support applications in the Azure cloud.\r\nI'm a Full Stack Engineer having worked with various technologies including Javascript, JQuery, Angular, React,\r\n Node.js, MongoDB, Firebase, SQL, MySQL, MicrosoftSQL, Tomcat, Java, C#, .NET, Swift, Web GL(Babylon.js, one.js), and Python. I'm\r\n currently dedicating my free time to learning and building with Web3 technologies like Soldiity and Web3.js. I love building creative solutions for myself and others, and I offer support through <a href='https://www.enigmasoftwareconsulting.com' style='color:white; font-weight:bold;' target='_blank'>Enigma Software Consulting.</a>";
			var speed = 50;

			function typeWriter(){
				console.log('typewriter');
				document.getElementById("aboutText").setAttribute("style", "white-space: pre;")
				if(i < aboutText.length){
					document.getElementById("aboutText").innerHTML += aboutText.charAt(i);
					i++;
					setTimeout(typeWriter, speed);
				}
				if(i == aboutText.length - 1) {
					document.getElementById("aboutText2").innerHTML += aboutText2;
				}
			}

			typeWriter();
		};
	</script>
	<div class="bg">
		<canvas class="webgl">
		</canvas>
		<div class="about">
			<div class="container-fluid row" ></div>
			<div class="row" id="about" style=" height: auto; overflow: hidden;">
				<div class="fill col-10" style="margin-bottom:8%;">
					<div class="row align-items-center" style="margin-bottom:7%;">
						<div class="col-1">
						</div>
						<div class="col-10">
							<div class="about-cont" >
								<p class="bottom-margin" id="aboutText">genesisbarrios:~$ cd genesisbarrios/About </p>
								<br>
								<p class="bottom-margin" id="aboutText2">Hello! My name is Genesis Barrios. I'm a Software Engineer based in Miami, Florida. 🌴 </p>
								<p class="bottom-margin white">I got my Bachelor's of Science in Computer Science in 2020 from Florida International University, and I worked as a Software Engineer for four years at Assurant, where I built and supported SMS and Billing applications in the Azure cloud as well as creating new components that sped up many processes.</p>
								<p class="bottom-margin white">I'm a Full Stack Engineer having worked with various technologies including Javascript, Typescript, Tailwind, React, Next.js Node.js, MongoDB, Firebase, SQL, MySQL, MicrosoftSQL, Tomcat, Java, C#, .NET, and Web GL(Babylon.js, three.js).</p>
								<p class="bottom-margin white">And an Artist, Music Producer, and Audio Engineer, dedicating practically my whole life since 8 years old to learning everything I can about music. </p>
								<p class="bottom-margin white">I'm currently building my freelancing business <a href='https://www.enigma-labs.com' style='font-weight:bold;' target='_blank'>Enigma Labs</a>- offering Web Development, Music Production, Audio Engineering, and Visuals.</p>
							</div>
						</div>
						<div class="col-1">
						</div>
					</div>
				</div>
				<div class="col-xs-1 sidebar">
					<ul>
						<li><a href="#" id="about"><i class="fas fa-2x fa-arrow-up"></i></a></li>
						<li><a href="https://github.com/genesisbarrios" target="_blank"><i class="fab fa-2x fa-github"></i></a></li>
						<li><a href="https://www.linkedin.com/in/genesis-barrios" target="_blank"><i class="fab fa-2x fa-linkedin"></i></a></li>
						<li><a href="mailto:genesisbarriosdev@gmail.com"><i class="fas fa-2x fa-envelope"></i></a></li>
					<ul>
				</div>
			</div>
			<div class="container-fluid row" style="height:15%;"></div>
			
		</div>


	<h1 id="projectsTitle">Projects</h1>

	<section class="projects d-flex one">
		<div class="project justify-content-center align-self-center"> 
			<img src="https://dl.dropboxusercontent.com/s/tajdsorx5orutffrzm47j/twitter-banner.png?rlkey=x569kx3odu5dbrzdrf6jn7iaw&st=kusyr3s5&dl=0" alt="influanto"/>
			<h2>Influanto</h2>
			<p class="serif" style="margin-bottom:2px;"> June 2024 </p>
			<p class="serif content" style="font-size:0.8em; margin-bottom:2px;"> The all in one marketing tool for artist and musicians. Born at Nights & Weekends Season 5 hosted by <a href="https://buildspace.so" target="_blank">Buildspace</a> 1 year later we are now public with our beta version. Features: Link In Bio, Release Pages, QR Code Generator, Playlist Curator Search Tool, Split Sheet Generator, and more. Built with Ship Fast and Next.js.</p>
			<div class="row" style="margin-bottom:5px;">
				<a href="https://www.influanto.com" target="_blank" class="view-button"> View Website </a>
			</div>
		</div>
	</section>

	<section class="projects d-flex two">
		<div class="project justify-content-center align-self-center">
			<img src="https://dl.dropboxusercontent.com/s/k2d8krq278twtehvl9okl/enigma.gif?rlkey=rbanv9bj28d939dfyfswbb8bi&st=s0coa121&dl=0" alt="Enigma Software Consulting"/>
			<h2>Enigma Labs</h2>
			<p class="serif" style="margin-bottom:2px;"> June 2024 </p>
			<p class="serif content" style="font-size:0.8em; margin-bottom:2px;"> I launched my consulting business along with a website built with React and one.js, and with a blog that is supported by a Firebase database.</p>
			<div class="row" style="margin-bottom:5px;">
				<a href="https://www.enigma-labs.com" target="_blank" class="view-button"> View Website </a>
			</div>
		</div>
	</section>

	<section class="projects d-flex one">
		<div class="project justify-content-center align-self-center"> 
			<img src="https://dl.dropboxusercontent.com/s/1jm89lj35tqm1qk0hp1yr/maury.gif?rlkey=tlzw5eq3vkz77q3vx5ol3hpt0&st=vhxcy8fv&dl=0" alt="cinemautographer"/>
			<h2>Cinemautographer</h2>
			<p class="serif" style="margin-bottom:2px;"> June 2025 </p>
			<p class="serif content" style="font-size:0.8em; margin-bottom:2px;">Portfolio Website for Miami Cinemautographer, Maury Ramos Peña</p>
			<div class="row" style="margin-bottom:5px;">
				<a href="https://www.cinemautographer.com" target="_blank" class="view-button"> View Website </a>
			</div>
		</div>
	</section>

		<section class="projects d-flex two">
		<div class="project justify-content-center align-self-center"> 
			<img src="https://dl.dropboxusercontent.com/s/hc1svqnn21ddd4wjjedpk/mars.png?rlkey=034jieiuwha3jtp43i3k7vt4t&st=pca43vll&dl=0" alt="influanto"/>
			<h2>Mars Miami Studio Website</h2>
			<p class="serif" style="margin-bottom:2px;">May 2024 </p>
			<p class="serif content" style="font-size:0.8em; margin-bottom:2px;"> I build a website for Mars Miami Studio, one of Miami's top Recording Studios and I am currently working on integrating Google APIs for Booking functionalities and more!</p>
			<div class="row" style="margin-bottom:5px;">
				<a href="https://www.marsmusicstudios.com" target="_blank" class="view-button"> View Website </a>
			</div>
		</div>
	</section>

	<section class="projects d-flex one">
		<div class="project justify-content-center align-self-center">
			<img src="https://dl.dropboxusercontent.com/s/h62cze48hc8jhi6nbvtya/stempo.png?rlkey=wtv3fvqea7btj80b6jia1fjds&dl=0" alt="PanaMia"/>
			<h2>Stempo</h2>
			<p class="serif" style="margin-bottom:2px;">October 2023 | ETH Lisbon</p>
			<p class="serif content" style="font-size:0.8em; margin-bottom:2px;">Stempo was created at ETH Lisbon 2023, for the purpose of bringing music rights managements to web3. By using ERC-6551tokens it allows for musicians to Create Account NFTs out of their Music that can house individual stems, and allows their works to be packaged for license sale and/or royalty share in additional touch points including their music stems. Fans can collect and trade NFTs with royalties as well. Born at ETH Lisbon 2023, with many years of ideation from my part as I’m a musician and have always had interest in building music applications. I worked on the Front End and Smart Contract integration.</p>
			
			<div class="row" style="margin-bottom:5px;">
				<a href="https://www.stempo.vercel.app" target="_blank" class="view-button"> View Website </a>
			</div>
		</div>
	</section>
	
	<section class="projects d-flex two">
		<div class="project justify-content-center align-self-center">
			<img src="https://dl.dropboxusercontent.com/s/lvy5auexg1w3udubrevr5/panamia.png?rlkey=p7z5ano1jbljfzy1rpua5zxil&dl=0" alt="PanaMia"/>
			<h2>Panamia Club</h2>
			<p class="serif" style="margin-bottom:2px;"> October 2022 - July 2024</p>
			<p class="serif content" style="font-size:0.8em; margin-bottom:2px;">A personal project I am working on in my spare time, to help local artists and small-businesses. I built the first iteration of the platform with the main feature being a directory of local artists, and freelancers. Built with Next.js and MongoDB, deployed on Vercel.</p>
			
			<div class="row" style="margin-bottom:5px;">
				<a href="https://www.panamia.club" target="_blank" class="view-button"> View Website </a>
			</div>
		</div>
	</section>

	<section class="projects d-flex one">
		<div class="project justify-content-center align-self-center">
			<img src="https://dl.dropboxusercontent.com/s/yqffuc60pnbb613lhzg68/reofound.png?rlkey=3sse6okl02sygq3cj1evif301&dl=0" alt="Refound"/>
			<h2>Refound</h2>
			<p class="serif" style="margin-bottom:2px;"> May 2022 - Jan 2024</p>
			<p class="serif content" style="font-size:0.8em; margin-bottom:2px;">For Activate x Wormhole 2022, my team and I build an NFT platform for war time journalists that are facing lack of compensation, and safety concerns. We won the Rebuild for Ukraine Bounty awarded by the NEAR protocol, and at <a href="https://web3athon.xyz/" target="_blank">Web3athon</a> we won 3rd Place for the Celo Disaster Relief bounty. I worked on the frontend, and Solidity smart contracts.</p>
			
			<div class="row" style="margin-bottom:5px;">
				<a href="https://www.refound.app" target="_blank" class="view-button"> View Website </a>
			</div>
			<div class="row">
				<a href="https://www.coindesk.com/layer2/2022/10/14/refound-journalism-selling-nfts-to-help-photojournalists/" target="_blank" class="view-button"> CoinDesk Article </a>
			</div>
		</div>
	</section>

	<section class="projects d-flex two">
		<div class="project justify-content-center align-self-center"> 
			<img src="https://dl.dropboxusercontent.com/s/5gpasrbwu60utjg2591vf/Screenshot-2024-03-20-at-10.12.03-PM.png?rlkey=h7abzinzi6qub3tz877heite2&dl=0" alt="Alphabet Spaces"/>
			<h2>Alphabet Spaces</h2>
			<p class="serif" style="margin-bottom:2px;"> Jun 2022 </p>
			<p class="serif content" style="font-size:0.8em; margin-bottom:2px;">For <a href="https://pridehacksii.devpost.com/">MLH Pride Hacks 2</a>, I built a decentralized social media platform for LGBTQ+ people to find Safe Spaces and meet other people in the community. Users and followers functionality is handled by DeSo, Spaces are handled in firebase, and the front-end is React. Won the Prize for Best Use of <a href="https://www.deso.org/">DeSo.</a></p>
			<div class="row" style="margin-bottom:5px;">
				<a href="https://www.alphabetspaces.co" target="_blank" class="view-button"> View Website </a>
			</div>
		</div>
	</section>
	
	<section class="projects d-flex one">
		<div class="project justify-content-center align-self-center">
			<img src="https://dl.dropboxusercontent.com/s/b32ly00009cu58hza2hi9/SPOTx.png?rlkey=kgjoxu969e9dub1xmbjlsa53d&dl=0" alt="SpotX, Solana/Polygon Dapp for Loyalty Rewards"/>
			<h2>SPOTx</h2>
			<p class="serif" style="margin-bottom:2px;"> January 2022 </p>
			<p class="serif content" style="font-size:0.8em; margin-bottom:2px;"> A Solana(now Polygon) Dapp that allows busineses to create NFT rewards for their loyalty customers. Created as the second use case for <a href="shrimpgame.io">ShrimpGame</a>(NFT AR Game) for MiamiHackWeek2022.</p>
			<div class="row" style="margin-bottom:5px;">
				<a href="https://61ff798d32ca040007e26201--epic-panini-5f7186.netlify.app/" target="_blank" class="view-button"> View Project </a>
			</div>
			<div class="row">
				<a href="https://github.com/genesisbarrios/SPOTx" target="_blank" class="view-button"> View Code </a>
			</div>
		</div>
	</section>

	<section class="projects d-flex two">
		<div class="project justify-content-center align-self-center">
			<img src="https://dl.dropboxusercontent.com/s/kpm0blmsz8vypbhr1tbyb/metashop.png?rlkey=8hjaudw67espotyr7lc1k5vly&dl=0" alt="MetaShop - 3D VR Web Shop"/>
			<h2>MetaShop</h2>
			<p class="serif" style="margin-bottom:2px;"> December 2021 </p>
			<p class="serif content" style="font-size:0.8em; margin-bottom:2px;"> A 3D interactive web store that allows users to interact with items, chat with other users, and request help from the Avaya Webchat agent. This project won 3rd place in the TadHack-Mini Orlando Hackathon at Avaya ENGAGE 2021. Future plans include perfecting the physics and GUI, updating character models in all client views so users can be in the same store together, and either setting it up as an ecommerce platform or setting it up as an NFT store on Etherum.</p>
			<div class="row" style="margin-bottom:5px;">
				<a href="https://github.com/genesisbarrios/metashop" target="_blank" class="view-button"> View Project </a>
			</div>
			<div class="row">
				<a href="https://blog.tadhack.com/2021/12/12/avaya-engage-the-results/" target="_blank" class="view-button"> Read Blog Post </a>
			</div>
		</div>
	</section>

	<section class="projects d-flex one">
		<div class="project justify-content-center align-self-center">
			<img src="https://dl.dropboxusercontent.com/s/c85bhc2mxlo5rzz2ugdic/Screen-Shot-2021-03-14-at-11.33.44-PM.png?rlkey=a0mf2o5upuhbev1ffv19sqjd6&dl=0" alt="Wavy Pads Web Synth"/>
			<h2>Wavy Pads</h2>
			<p class="serif"> March 2021 </p>
			<p class="serif content"> A Web Based Synth with EQ, Gain, Decay, Reverb, Octave, and Key Inputs. Built with one.js.</p>
			<div class="row">
				<a href="https://github.com/genesisbarrios/wavypads" target="_blank" class="view-button"> View Project </a>
			</div>
		</div>
	</section>
	
	<section class="projects d-flex two">
		<div class="project justify-content-center align-self-center">
			<img src="https://dl.dropboxusercontent.com/s/f238sh37xz15dztei88dz/Screenshot-2024-03-20-at-10.28.29-PM.png?rlkey=9jsxxq5m3vc86817au66iwqhp&dl=0"/>
			<h2>VirtualRollCall</h2>
			<p class="serif"> April, 2020 </p>
			<p class="serif content">For my Senior Project my teammate and I recreated the documentation and attendance application for the Pinecrest police department. Built with Angular, and Node.js.</p>
			<div class="row">
				<a href="https://github.com/genesisbarrios/VirtualRollCallSpring2020" target="_blank" class="view-button"> View Project</a>
			</div>
		</div>
	</section>

	<section class="projects d-flex one">
		<div class="project justify-content-center align-self-center">
			<img src="https://dl.dropboxusercontent.com/s/qkx417y4w89aiqhotivp5/youtubecommentapp.png?rlkey=k3hmnz1eldp4j1iu4tjb214iy&dl=0"/>
			<h2>YouTube Multiple Comment App</h2>
			<p class="serif"> January, 2020 </p>
			<p class="serif content">I posted a YouTube video of me singing a song I made for a competition, and I received a lot of comments asking if I could put the song on spotify. I wanted to reply to all of those comments at once, so I made an application to do that for me. I built it with the YouTube API, and Javascript.</p>
			<div class="row">
				<a href="https://github.com/genesisbarrios/YouTubeMultipleCommentApp" target="_blank" class="view-button"> View Project</a>
			</div>
		</div>
	</section>

	<footer class="page-footer font-small">
		<div class="footer-copyright text-center py-3"> © Copyright 2022. Designed and Developed by Genesis Barrios </div>
	</footer>
</body>
</html>